.c-wrapper {
  margin: 40px 0 50px 0;
}
.c-container {
  justify-content: space-around;
  gap: 1rem;
}
.c-container > img {
  width: 9rem;
}
@media (max-width: 983px) {
  .c-container {
    display: flex;
    flex-direction: row;
  }
}
